# copy this file to `.env` and modify variables as needed for local dev

# mail server
EMAIL_SERVER_USER=exampleemail@organization.com
EMAIL_SERVER_PASSWORD=password1234
EMAIL_SERVER_HOST=smtp.myemailserver.org
EMAIL_SERVER_PORT=587
EMAIL_FROM=registration@hackbeanpot.com

# next auth url
NEXTAUTH_URL=http://localhost:3000/api/auth

# leave this commented out for local development
# NEXT_PUBLIC_ROLLBAR_POST_CLIENT_TOKEN=tokengoeshere

# mongodb configuration
# if changing any of these, also re-configure cypress.json
MONGO_SERVER_DBNAME=application-portal
# these are only used for dev (and running in CI on Github):
MONGO_DEV_PORT=27017
MONGO_DEV_USERNAME=admin
MONGO_DEV_PASSWORD=password
# set this for production
# MONGO_PROD_CONNECTION_STRING=mongodb+srv://username:password@domain.com
