.admin {
  @media (min-width: $xxl) {
    width: 160%;
    margin-left: -30%;
  }

  .tabs {
    overflow: visible !important;
  }

  .applicants {
    .title-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .ant-select-dropdown {
    zoom: 1 !important;
    @supports (-moz-appearance:none) {
      // Only for Firefox
      transform: scale(1) !important;
      transform-origin: 0 0 !important;
    }
    left: 0 !important;
    top: 27px !important;
  }
}