.application {
  .alert {
    margin-bottom: 20px;
  }

  .edit-button-container {
    margin-top: 16px;
  }

  .cancel-edit-button {
    margin-left: 8px;
  }

  .submit-container {
    display: flex;
    justify-content: center;

    .button {
      height: max-content;
    }
  }
}
