.signinPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.logoWrapper {
  margin: 0 auto;
}

.signinForm {
  width: 400px;
  @media (max-width: $xs) {
    width: 90%;
  }
}

.submitButton {
  width: 100%;
  height: 40px;
  font-size: 18px;
}

.email-input {
  height: 40px;
  font-size: 18px;
}

.success-message {
  font-size: 18px;
}