@import "../constants";

$header-color: #CFE8E8;
$header-height: 64px;

.header {
  height: $header-height;
  position: fixed;
  width: 100%;
  background-color: $header-color;
  display: flex;
  z-index: 100;

  &__text {
    margin-left: 16px;
  }

  &__user {
    margin-left: auto;
  }
}

.sider_content_layout {
  min-height: calc(100vh - #{$header-height});
  margin-top: $header-height;
}

.sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;

  &__menu {
    height: 100%;
  }
}

.content {
  padding: 32px 24px;
  overflow: initial;
  margin: 0 15%;
  @media (max-width: $md) {
    padding: 0 50px;
  }
  @media (max-width: $xs) {
    padding: 0 15px;
  }
  
  &__layout {
    margin-left: 200px;
  }
}
