$header-color: #CFE8E8;
$header-height: 64px;

.header {
  height: $header-height;
  position: fixed;
  width: 100%;
  background-color: $header-color;
  display: flex;

  &__text {
    margin-left: 16px;
  }

  &__user {
    margin-left: auto;
  }
}

.sider_content_layout {
  min-height: calc(100vh - $header-height);
  margin-top: $header-height;
}

.sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;

  &__menu {
    height: 100%;
  }
}

.content {
  padding: 32px 24px;
  overflow: initial;
  margin-left: 15%;
  margin-right: 15%;
  
  &__layout {
    margin-left: 200px;
  }
}
