// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
$font-body: 'Nunito Sans', Arial, Helvetica, sans-serif;

// ---------------------------------------------------------------------------
// BREAKPOINTS
// ---------------------------------------------------------------------------
$xxs: 380px;
$xs: 450px;
$sm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;
