@import '~antd/dist/antd.css';

* {
  font-family: $font-body;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @include h1-text;
  font-weight: 400;
}

.ant-select-dropdown {
  position: fixed !important;
  top: auto !important;
}
