name: Jest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, production]

jobs:
  jest-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '25.x'
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - run: yarn test:unit
