name: Jest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, production]

jobs:
  jest-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5
      - name: Setup yarn with caching
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - run: yarn test:unit
